<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorTest</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Главная
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="game">
                <span class="bi bi-trophy-fill-nav-menu" aria-hidden="true"></span> Конкурсы
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prizes">
                <span class="bi bi-gift-fill-nav-menu" aria-hidden="true"></span> Призы
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tickets1">
                <span class="bi bi-ticket-perforated-fill-nav-menu" aria-hidden="true"></span> Билеты
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="final">
                <span class="bi bi-youtube-nav-menu" aria-hidden="true"></span> Финал
            </NavLink>
        </div>
    </nav>
</div>

